<p id="notice"><%= notice %></p>

<p>
  <strong>Num:</strong>
  <%= @regle.num %>
</p>

<p>
  <strong>Content:</strong>
  <%= @regle.content %>
</p>

<%= link_to 'Edit', edit_regle_path(@regle) %> |
<%= link_to 'Back', regles_path %>
