<%= form_with(model: salf, local: true) do |form| %>
  <% if salf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(salf.errors.count, "error") %> prohibited this salf from being saved:</h2>

      <ul>
        <% salf.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :topic_id %>
    <%= form.text_field :topic_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :finished %>
    <%= form.check_box :finished %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
